:host() {
    text-align: center;
    grid-row: 1;
}

.navigation-button {
    background-color: white;
    font-size: 1.3rem;
    padding: 1rem 2.5rem;
    border-radius: 0.8rem;
    border: 2px solid crimson;
    transition-duration: 0.3s;
    display: block;
    margin: 1.3rem auto;
    font-family: cursive;
}

.navigation-button:hover {
    background-color: crimson;
    color: white;
}